.debut {
    animation: down 1.5s both;
}

.informations {
    animation: informations 3s ease-in backwards;
}


.animation:nth-child(1) {
    animation: apparition 1.5s backwards 0.5s;
}

.animation:nth-child(2) {
    animation: apparition 1.5s backwards 1s;
}

.animation:nth-child(3) {
    animation: apparition 1.5s backwards 1.5s;
}

@keyframes apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

@keyframes down {
    0% {
        z-index: -1;
        opacity: 0;
        transform: translateY(-200px)
    }

    99% {
        z-index: -1;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        z-index: 0;
    }
}

@keyframes informations {
    0% {
        top: -100px;
    }

    15% {
        top: 100px;
    }

    85% {
        top: 100px;
    }

    100% {
        top: -100px;
    }
}